<%- include("partials/header") %>

<form action="/" method="post">
    <input type="text" placeholder="The smothie name">
    <input type="text" placeholder="Your name">
    <input type="text" placeholder="items">
    <!-- TODO: de alguna forma, que se puedan seleccionar mas de una opcion. despues, mandar datos al sever -->
</form>

<%- include("partials/footer") %>