* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.search-bar {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 3px;
}

.nav-items {
    display: flex;
    justify-content: space-around;
}

.nav-button {
    padding: 8px 16px;
}

/* index.ejs : */

.smothie-center {
    display: flex;
    flex-wrap: wrap;
}

/* For each smothie card */

.smothie-card {
    max-width: 400px;
    max-height: 182px;
    margin: 20px 20px 20px 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 70%, rgba(0,0,0,0.4956681720696845) 100%);
    
}

.card-title{
    font-size: 1.5rem;
    text-align: center;
}

.card-title-info{
    font-size: 1.1rem;
    text-align: center;
}
/* Create area */

.create-input-parent{
    width: 44%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.create-input{
    height: 37px;
    border-radius: 5px;
    border: 2px solid rgba(114, 114, 114, 0.368);
    transition: height .3s;
}

.create-input:focus{
    outline: none;
    height: 45px;
}

.add-ingredient{
    width: 94px;
    height: 37px;
    border-radius: 5px;
    align-self: center;
    outline: none;
    border: 2px solid rgba(114, 114, 114, 0.368);
    background-color: #fff;
    transition: all .3s;
}

.add-ingredient:hover{
    outline: none;
    height: 43px;
    width: 100px;
}